<div style="display: flex;
align-items: center;
justify-content: center;
height: 100%;">
    <button style="background-color: inherit;
    border: none;" type="button" (click)="edit()"
    >
    <img 
    style="width: 24px; height: 24px; cursor: pointer; vertical-align: middle;"
    src="https://w7.pngwing.com/pngs/253/411/png-transparent-black-and-white-illustration-computer-icons-editing-graphics-editor-edit-pen-write-icon-miscellaneous-angle-pencil.png" 
    > 
    </button>
    <button style="background-color: inherit;
    border: none;"  type="button" (click)="delete()"
    >
    <img 
    style="width: 24px; height: 24px; cursor: pointer; vertical-align: middle;"
    src="https://c0.klipartz.com/pngpicture/172/740/gratis-png-nihilismo-sinonimos-y-antonimos-ruso-movimiento-nihilista-borrar.png" 
    > 
    </button>
</div>